#fondoPagAnuncios{
    background: linear-gradient(to bottom, #476079, #629BAD);
    min-height: 92vh;
    width: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 4vh;
}


#contenedorGeneral{
    background-color: #f9f9f9;;
    width: 50%;
    border: 0px;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:3vh ;
    margin-bottom: 4vh;
    border-spacing: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#tituloPagAnuncios{
    font-size: x-large;
    width: 90%;
}

.contenedorAnuncios{
    width: 90%;
}
.contenedorAnuncios *{
    margin: 0.5vh;
    padding: 0px;
}
.contenedorAnuncios p {
    margin: 0px;
    margin-left: 0px;
}
.contenedorAnuncios img {
    margin: 0px;
    width: 100%;
}
.botonCompletarAviso {
    padding: 1vh 1vw 1vh 1vw;
    background-color: green;
    color: white;
}

.anuncio div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.empleado p, .telefono p, .contenedorAsuntoAnuncio p{
    font-style: italic;
}
.tituloAnuncioDiv p {
    font-weight: 700;
    font-size: larger;
}

.contenidoAnuncio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.contenedorDescripcion{
    max-width: 70%;
}

@media(max-width: 1000px){
    #contenedorGeneral{
        width: 90%;
    }
}

/* ------------------------------------------------------------------
*   Pop up eliminar
* ------------------------------------------------------------------
*/

#contenedorConfirmarEliminar {
    background-color: rgba(199, 199, 199, 1);
    border-radius: 1vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding-bottom: 8vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    position: absolute;
    top: 13vh;
    left: 15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#ConfirmarEliminar p {
    font-weight: 700;
}

#ConfirmarEliminar h3 {
    font-weight: 700;
}

#iconoCerrar img,
#iconoCerrar {
    background-color: rgba(199, 199, 199, 1);
}

#botonConfirmarEliminar button {
    color: white;
    width: 100px;
    background-color: red;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 3.5vh;
    margin: 0px;
    padding: 0px;
    border-spacing: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: absolute;
    bottom: 44px;
    left: 75px;
}

#botonConfirmarEliminar {
    width: fit-content;
}

#tituloPopUpFiltros{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#iconoCerrar img,
#iconoCerrar{
    width: 3.5vh;
    height: 3.5vh;
    margin: 0px;
    padding: 0px;
}

#contenedorConfirmarEliminar div button img{
    width: 75%;
    height: 75%;
}

#botonConfirmarEliminar{
    width: fit-content;
}

#divClose{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media(max-width: 1000px) {
    #contenedorConfirmarEliminar {
        font-size: 115%;
    }
}