#fondoPagina{
    background-image: url(../images/mapamundipapel.png);
    background-size: cover;
    padding-top: 2vh;
    padding-bottom: 3vh ;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 89vh ;
}
button, button img{
    background: white;
    width: 3.5vh;
    height: 3.5vh;
    margin: 0px;
    padding: 0px;
    border-spacing: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
button img{
    width: 75%;
    height: 75%;
    box-shadow: none;
    border-radius: 4px;
}

#marcaNotifAvisosContenedor img{
    width: 3vh;
    height: 3vh;
    margin: auto;
    display: block;
}
#marcaNotifAvisos{
    background-image: url(../images/punto_rojo_sinBordes.svg);
    background: white;
    width: 3.5vh;
    height: 3.5vh;
    margin: 0px;
    padding: 0px;
    border-spacing: 10px 10px;
}
#marcaNotifAvisos p{
    margin: 0px;
    padding: 0px;
}


#filtrosYHerramientasContenedor{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
}
#contenedorIzquierdo, #contenedorDerecho{
    display: flex;
    align-items: center;
    
}
#contenedorIzquierdo label,
#contenedorDerecho button{
    margin-left: 1vh;
}
#contenedorIzquierdo input{
    height: 1.25rem;
    width: 1.25rem;
}
#contenedorIzquierdo label {
    display: flex;
    align-items: center;
}

#contenedorEmpleadosLista{
    background-color:  whitesmoke;
    margin-left: 2vh;
    margin-right: 2vh;
}
.wifiIcono{
    width: 3.5vh;
    height: 3.5vh;
}
#errorConexionTablaImagen{
    position: relative;
    width: 1.5vh;
    height: 1.5vh;
    bottom: 1vh;
    right: 1vh;
}

#tablaEmpleados{
    width: 100%;
    border-radius: 3px;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-collapse: separate; /* This makes borders between cells visible */
    border-spacing: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
#tablaEmpleados:hover {
    background-color: whitesmoke;
}
#leyendaTabla{
    font-size: large;
    font-weight: 700;
    
    
}

th {
    background-color: #9CDEDE;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding-top: 4px;
    padding-bottom: 4px;
}
th:hover {
    background-color: #78CDD7;
}

td, tr{
    
    text-align: start;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    
    
}
td:nth-child(1), th:nth-child(1){
    width: 10%;
}
td:nth-child(2), th:nth-child(2) {
    width: 5%;
}
td:nth-child(3), th:nth-child(3) {
    width: 5%;
}
td:nth-child(4), th:nth-child(4) {
    width: 5%;
}
td:nth-child(5), th:nth-child(5) {
    width: 5%;
}
td:nth-child(6), th:nth-child(6) {
    width: 5%;
    display: flex;
    align-items: center;
}

.cont_flecha {
    width: 100%;
}

#flecha{
    width: 1em;
    height: 1em;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    border: 2px;
    border-radius: 0.6vh;
    border-spacing: 10px 10px;
    position: relative;
    left: 98%;
}


@media(max-width: 1000px){
    #fondoPagina{
        padding-left: 0px;
        padding-right: 0px;
    }
    #tablaEmpleados {
        font-size:smaller;
    }

    #leyendaTabla {
        font-size: small;
    }

        td,
        tr, th {
            font-size: xx-small;
        }
}

/* ------------------------------------------------------------------
*   Pop up filtro
* ------------------------------------------------------------------
*/

#contenedorPopUps {
    background-color:rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border-radius: 1vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 105%;
    padding-bottom: 2vh;
    font-style: italic;
    background: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240)) padding-box, linear-gradient(145deg, transparent 35%,#84DCCF, #40c9ff) border-box;
    border: 2px solid transparent;
    position: absolute;
    top: 20vh;
    left: 41vw;

    visibility: hidden;
}

#divClose {
    padding-top: 10px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.x {
    box-shadow:none ;
}

#divClose img {
    background: rgb(240, 240, 240);
    width: 3vh;
}
#divClose button {
    background: rgb(240, 240, 240);
    width: 3vh;
}

.tituloFiltroEspecificado p{
    font-weight: 700;
    font-style: normal;
}
#tituloPopUpFiltros{
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tituloPopUpFiltros button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-left: 1vw;
    border-radius: 1vh;
    padding: 0.5vh;
}
#tituloPopUpFiltros p{
    margin: 0px;
}
#tagsMostradosTitulo{
    color: white;
    background-color: rgb(76, 156, 130);
    padding: 0.5vh;
    border-radius: 1vh;
}
#searchByTitulo {
    color: rgb(76, 156, 130);
}

.OpcionesFiltro, .contenedorFiltroEspecificado, #tituloPopUpFiltros{
    width: 100%;
}
.OpcionesFiltro{
    display: flex;
}
.opcionesIzquierda, .opcionesDerecha {
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 1000px) {
    #contenedorFiltros {
        font-size: 115%;
        left: 5vh;
        width: 80%;
    }
    #contenedorPopUps{
        width: 85vw;
        left: 5vw;
    }
}



/* ------------------------------------------------------------------
*   Pop up anyadir
* ------------------------------------------------------------------
*/

#contenedorPopUpsAnyadir {
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    padding-bottom: 6vh;
    justify-content: center;
    position: absolute;
    top: 9vh;
    left: 50%; 
    transform: translate(-50%, 0);
    
    visibility: hidden;
    background: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240)) padding-box,
              linear-gradient(145deg, transparent 35%,#84DCCF, #40c9ff) border-box;
    border: 2px solid transparent;
}

#adminTitulo{
    color: red;
}
#personTitulo{
    color: white;
    background-color: rgb(76, 156, 130) ;
}

.insertarDato{
    width: 100%;
    display: flex;
    margin-bottom: 0.25vh;
    align-items: center;
}
.insertarDato input{
    width: 100%;
    height: 3vh;
    margin-left: 1vh;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}
.insertarDato p {
    width: 20%;
    margin: 1vh;
}

#botonConfirmarDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#botonConfirmar{
    width: 200px;
    color: white;
    background-color: rgb(76, 156, 130);
}

#botonConfirmarDivE{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#botonConfirmarE{
    width: 100px;
    color: white;
    background-color: rgb(76, 156, 130);
    position: absolute;
    bottom: 44px;
    right: 75px;
}

@media(max-width: 1000px) {
    #contenedorPopUpsAnyadir {
        font-size: 115%;
        left: 5vw;
        width: 90vw;
    }
}

/* ------------------------------------------------------------------
*   Pop up editar
* ------------------------------------------------------------------
*/

#contenedorPopUpsEditar {
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    padding-bottom: 2vh;
    justify-content: center;
    position: absolute;
    top: 9vh;
    left: 50%; 
    transform: translate(-50%, 0);

    visibility: hidden;
    background: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240)) padding-box,
              linear-gradient(145deg, transparent 35%,#84DCCF, #40c9ff) border-box;
    border: 2px solid transparent;
}

.contenedorFiltroEspecificado{
    width: 80%;
}

.editarDato{
    display: flex;
    margin-bottom: 0.25vh;
    align-items: center;
}
.editarDato p{
    width: 20%;
    margin: 1vh;
}
.editarDato input {
    width: 100%;
    height: 3vh;
    margin-left: 1vh;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
}
.editarDato img {
    width: 3vh;
    margin-left: 1vh;
}

#personTituloEditar{
    font-weight: 700;
    font-size: larger;
    padding-bottom: 20px;
}

#botonEliminar{
    background-color: red;
    color: white;
    width: 10vh;
}

@media(max-width: 1000px) {
    #contenedorPopUpsEditar {
        font-size: 115%;
        left: 5vw;
        width: 90vw;
    }
}

/* ------------------------------------------------------------------
*   Pop up eliminar
* ------------------------------------------------------------------
*/

#contenedorConfirmarEliminar{
    background-color: rgba(199, 199, 199, 1);
    border: 2px solid red;
    border-radius: 1vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding-bottom: 4vh;

    position: absolute;
    top: 13vh;
    left: 15vw;

    visibility: hidden;
}
#contenedorConfirmarEliminar p{
    width: 80%;
    margin-bottom: 3vh;
    font-weight: 700;
}

#contenedorConfirmarEliminar button img,
#contenedorConfirmarEliminar button{
    background-color: rgba(199, 199, 199, 1); 
}

#botonConfirmarEliminar button{
    background-color: red;
    width: fit-content;
    padding-left: 2vw;
    padding-right: 2vw;
}

.insertarDato.separador {
    border-bottom: 2px solid; /* Define the border style */
    border-image: linear-gradient(135deg, #9CDEDE, #84DCCF) 1; /* Set the linear gradient as the background */
    box-sizing: border-box; /* Include border width in the element's dimensions */
  }
  .editarDato.separador {
    border-bottom: 2px solid; /* Define the border style */
    border-image: linear-gradient(135deg, #9CDEDE, #84DCCF) 1;/* Set the linear gradient as the background */
    box-sizing: border-box; /* Include border width in the element's dimensions */
  }

@media(max-width: 1000px) {
    #contenedorConfirmarEliminar {
        font-size: 115%;
    }
}

#searchBar{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    border-spacing: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
