/* Basic styling */
body {
    background: linear-gradient(to bottom, #476079, #629BAD); /* Replace these colors with your desired gradient */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
  }

#contenedorEditarUsuario {
    width: 40vw;
    padding-top: 3em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    padding-bottom: 2.1em;
    padding-top: 20px;
      padding-left: 40px;
      padding-bottom: 20px;
      padding-right: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s ease-in-out;
    height: 90vh;
    margin: auto;
  }

  #tituloPopUpFiltros {
    width: auto;
    align-self: center;
    color: #2F343A;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: .4s ease-in-out opacity,.1s ease-in-out active;
    padding: 1em;
  }
  
  .editarDato {
    margin-bottom: 32px;

  }

  
  .editarDato input{
    background-color: #BBBBBB;
  }
  .editarDato p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #ultimoPersonal {
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, #9CDEDE, #84DCCF) 1;
    padding-bottom: 10px;
  }

  #ultimoContacto {
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, #9CDEDE, #84DCCF) 1;
    padding-bottom: 10px;
  }

  #botonContrasenya {
    width: 240px;
    color: white;
    background-color: rgb(76, 156, 130);
  }

    #botonConfirmarUsuarioDiv {
      padding-top: 10px;
      padding-bottom: 10px;
        text-align: center; 
    }
  
    @media(max-width: 1000px) {
        #contenedorEditarUsuario {
            width: 80vw;
        }
    }


    .password-card {
      width: 300px;
      margin: 0 auto;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      background: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240)) padding-box, linear-gradient(145deg, transparent 35%,#84DCCF, #40c9ff) border-box;
      border: 2px solid transparent;
      border-radius: 10px;
      background-color: #f0f0f0;
      box-shadow: 2px 2px 10px #ccc;
      position: absolute;
      margin-top: 20vh;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .card-header {
      text-align: center;
      margin-bottom: 20px
    }
    
    .card-header .log {
      margin: 0;
      font-size: 24px;
      color: black;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label {
      font-size: 18px;
      margin-bottom: 5px;
    }
    
    input[type="text"], input[type="password"] {
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      transition: 0.5s;
      outline: none;
      caret-color: rgb(255, 81, 0);
      letter-spacing: 0.8px;
      color: rgb(19, 19, 19);
      font-size: 13.4px;
    }
    
    input[type="submit"] {
      width: 100%;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
