/* ------------------------------------------------------------------
*   Header
* ------------------------------------------------------------------
*/

.cabecera {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    justify-content: space-between;
}

#fondoHeader {
    background-image: url(../images/fondo_info_geometrico_horizontal.png);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logoCleanCloud,
#logoCleanCloud img {
    height: 100%;
}

#descargarMapa {
    background: rgba(233, 233, 233, 0.4);
    height: 60%;
    color: rgb(255, 255, 255);
    margin-right: 3vh;
}

#descargarMapa:hover {
    background: rgba(209, 209, 209, 0.4);
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}







@media(max-width: 1000px) {
    .cabecera {
        height: 6vh;
    }

    #logoCleanCloud img {
        width: 25vh;
    }
}

/* ------------------------------------------------------------------
*   Zona mapa
* ------------------------------------------------------------------
*/

#zonaMapa {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
#zonaMapa2 {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.legend{
    margin-bottom: 10vh !important;
}

#zonaMapaSuperior {
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5vh;
    padding-top: 2vh;
}

#zonaMapaSuperior input {
    margin-right: 2vh;
}

#zonaMapaSuperior input,
#zonaMapaSuperior select {
    height: 3vh;
    width: 20vh;
    border-radius: 0.5vh 0.5vh 0px 0px;
    border: 0px;
}

#zonaMapaSuperior select {
    width: 7vh;
}

#zonaMapaInferior {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    height: 0vh;
}

#mediaDiariaMapa {
    width: 60vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#titulo_mediaDiariaMapa {
    background-color: rgba(233, 233, 233, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 6vh;
    width: 90%;
    border: 0px;
    border-radius: 1vh;
}

#contenido_mediaDiariaMapa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 14vh;
    margin-bottom: 2vh;
    border: 0px;
    border-radius: 1vh;
}

#contenido_mediaDiariaMapa div {
    background-color: rgba(233, 233, 233, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    border: 0px;
    border-radius: 1vh;
}

#contenido_mediaDiariaMapa div h3,
#contenido_mediaDiariaMapa div h4 {
    margin: 0px;
}

#valorO3Mapa {
    color: rgb(109, 175, 9);
}

#valorCOMapa {
    color: red;
}

@media(max-width: 1000px) {
    #zonaMapa {
        height: 94vh;
    }

    #zonaMapaInferior {
        justify-content: space-between;
    }

    #mediaDiariaMapa {
        width: 30vh;
        height: 85%;
    }

    #contenido_mediaDiariaMapa {
        margin: 0px 0px 0px 0px;
    }

    #zonaMapaSuperior {
        padding-right: 2vh;
    }

    #zonaMapaSuperior input,
    #zonaMapaSuperior select {
        width: 15vh;
    }

    #zonaMapaSuperior select {
        width: 7vh;
    }
}

.contaminanteContainer {
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 2vh;
}


#table {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;

}

/* ------------------------------------------------------------------
*   Zona informacion
* ------------------------------------------------------------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: null;
    font-size: 5vmin;
    text-align: center;
    color: #2F343A;
    position: absolute;
    top: 106vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px;
}

h2 {
    font-size: 4vmin;
    text-align: center;
    color: white;
}

p {
    font-size: max(10pt, 2.5vmin);
    line-height: 1.4;
    color: #0e390e;
    margin-bottom: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85vmin;
    height: 25em;
    margin: 2rem auto;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin: 2em;
    border: 8px solid;
    border-image: linear-gradient(-50deg, #BDB69C, #ADA585, #7D7452, #BD9D61, #C6BD9A, #ADA585, #BDB69C) 1;
}

.overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    background: linear-gradient(45deg, #04717F, #E4F7F6);
    transition: .4s ease-in-out;
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: .5rem 0 0 .5rem;
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            #04717F 5%,
            #F3F3F3 35% 65%,
            #FDA470 95%) 0 0 0 100%;
    transition: .3s ease-in-out .2s;
    z-index: 1;
}

.image-content1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../images/capa-ozono.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}

.image-content2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../images/nitrogeno_portada.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
}

.image-content3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../images/azufre_portada.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
}

.image-content4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../images/carbono_portada.jpg");
    background-size: cover;
    transition: .3s ease-in-out;
}

.image-content5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("../images/benceno_portada.webp");
    background-size: cover;
    transition: .3s ease-in-out;
}

.inset {
    max-width: 50%;
    margin: 0.25em 1em 1em 0;
    border-radius: 0.25em;
    float: left;
}

.dots {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
    transition: .3s ease-in-out .3s;
}

.dot {
    width: 14px;
    height: 14px;
    background: #2F343A;
    border: 1px solid grey;
    border-radius: 50%;
    transition: .3s ease-in-out .3s;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    overflow-y: scroll;
}

.wrap:hover .overlay {
    transform: translateX(-60vmin);
}

.wrap:hover .image-content {
    width: 30vmin;
}

.wrap:hover .overlay-content {
    border: none;
    transition-delay: .2s;
    transform: translateX(60vmin);
}

.wrap:hover .dots {
    transform: translateX(1rem);
}

.wrap:hover .dots .dot {
    background: white;
}


/* Animations and timing delays */
.animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}

/* Pop In */
.pop {
    animation-name: pop;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Slide In */
.slide {
    animation-name: slide;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Slide Left */
.slide-left {
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

.delay-7 {
    animation-delay: 2.1s;
}

.delay-8 {
    animation-delay: 2.4s;
}

/* ------------------------------------------------------------------
*   Zona contaminantes
* ------------------------------------------------------------------
*/

#zonaContaminantes {
    background-image: url(../images/fondo_patron.jpg);
    background-size: cover;
    border-top: 5px solid;
    border-color: #2F343A;
}

#zonacontaminantesSuperior {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0.5rem;
    
}

#infoContaminantes {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#titulo_contaminantes {
    margin-top: 0.5rem;
    border: 2px solid;
    border-color: #2F343A;
    padding-right: 20px;
    padding-left: 20px;
    

}


@media(max-width: 1000px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}



th {
    background-color: #BDB69C;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
}

td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
}



/* ------------------------------------------------------------------
*   PopUp Descargar mapa
* ------------------------------------------------------------------
*/
#contenedorDescargarMapa {
    background-color: rgb(240, 240, 240);
    border-radius: 1vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;

    position: absolute;
    top: 9vh;
    left: 10vh;

    visibility: hidden;
}

#divClose {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 2vh;
}

#divClose img {
    width: 3vh;
    margin-right: 2vh;
}

#zonaMapaPopUp {
    width: 100%;
    display: flex;
    justify-content: center;
}

#MapaPreview {
    width: 80%;
}

#MapaPreview img {
    width: 100%;
}

#tituloMapaDescarga,
#formatoYDescarga {
    margin-top: 2vh;
    width: 80%;
    display: flex;
    align-items: center;
}

#tituloMapaDescarga input {
    height: 50%;
    width: 100%;
    background: rgba(233, 233, 233, 0);
    border: 0px;
    border-bottom: 2px solid black;
    margin-left: 1vh;
}

#formatoYDescarga {
    display: flex;
    justify-content: space-between;
}

#formatoContenedor {
    width: 50%;
    display: flex;
    align-items: center;
}

#formatoContenedor select {
    height: 50%;
    margin-left: 1vh;
}

#buttonDownload {
    color: white;
    background-color: rgb(95, 192, 160);
    width: 15vh;
    height: 5vh;
}

@media(max-width: 1000px) {
    #contenedorDescargarMapa {
        left: 5vh;
    }

    #formatoContenedor select {
        height: 2vh;
    }

    #buttonDownload {
        width: 10vh;
    }
}

footer p{
    color: white;
}