/* ------------------------------------------------------------------
*   Header
* ------------------------------------------------------------------
*/

.cabecera {
    display: flex;
    height: 5.5vh;
    width: 100%;
    justify-content: space-between;
}

#logoCleanCloud img {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1;
    width: 12%; 
    height: auto; 
}

#fondoHeader {
    background-image: url(../images/fondo_info_geometrico_horizontal.png);
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
}

.caja{
    font-family: none;
}

#descargarMapa {
    background-color: transparent;
    height: 50%;
    color: rgb(255, 255, 255);
    margin-right: 3vh;
    width: 5vh;
    box-shadow: none;
}


#headerUserContainer{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    margin-right: 2vh;
}
#headerUserContainer img {
    height: 60%;
}

@media(max-width: 1000px) {
    .cabecera {
        height: 6vh;
    }

    #descargarMapa {
        font-size: 30;
    }

    #logoCleanCloud img {
        width: 25vh;
    }
}

button{
    background: rgba(255, 255, 255, 0);
}

